<% layout('/layout/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/complain.css">

<section class="box">
    <h1>Leave Application</h1>
    <form action="" method="post">
        <label for="name">Name</label>
        <input name="name" type="text" placeholder="e.g. John" required>
        <div class="part-1">
            <div class="part-2">
            <label for="room">Room No</label>
            <input type="text" required placeholder="e.g.I-702">
        </div>
            <div class="part-2">
                <label for="phone">Reg No</label>
                <input type="text"  required name="reg_no" placeholder="e.g. 202000434">
            </div> 
        </div>
            <div class="part-1">
                <div class="part-2">
                <label for="room">From</label>
                <input type="date" required placeholder="Date">
            </div>
                <div class="part-2">
                    <label for="phone">To</label>
                    <input type="date"  required name="reg_no" placeholder="Date">
                </div> 
            </div>
              <label for="Leave_details">Reason for Leave</label>
              <textarea  name="Leave_details" cols="1" rows="3"></textarea>
            
    </form>
    <a href="/leave_submit"> <button class="button" type="submit">Submit</button></a>
</section>