<% layout('/layout/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/complain.css">
<section class="box">
<h1>Leave application<br>  </h1>
<h1>submitted!!We'll review your<br></h1>
<h1>leave application.</h1>
</section>