<nav>
    <ul>
      <a style="text-decoration: none;"   href="/"><li>Home</li></a>  
        <li>Complaints</li>
        <li>Contact</li>
    </ul>
</nav>
<div class="nav-2">
    <h1>Ease4 <br> <span>Use</span> </h1>
    
  <h6> <img src="/icons/iconmonstr-user-19.svg" alt="user-logo">
     <img src="icons/iconmonstr-angel-up-thin.svg" alt="arrow"></h6> 
</div>
